<h2>Your basic information</h2>
<ul>
  <li>User name: <%=h @user.screen_name %></li>
  <li>Email: <%=h @user.email %></li>
  <li>Password: *******</li>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>

