<% if @username  -%>
	<h1>Hi <%= h @username%> Welcome back!</h1>
<% else  -%>
	<h1>Welcome to the Online Taxi Booking System! </h1>
<% end  -%>

<p>The Online Taxi Booking System is a website for booking a taxi and other cool stuff.  </p>
<p>Join now so that you can book a Taxi and join in our blog or contribute to our cool wiki about nothing.</p>